<!-- <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">
      <i class="material-icons">cloud</i>Ben2Code App</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
       
        <li><a (click)="Logout()">Logout</a></li>
      </ul>
    </div>
  </nav>

  <div class="row" *ngIf="userClaims">
      <div class="col s12 m7">
        <div class="card">
          <div class="card-content">
            <span>Username :{{userClaims.Username}}</span>
            <br>
            <span>Email : {{userClaims.Email}}</span>
            <br>
            <span>Full Name : {{userClaims.FirstName}} {{userClaims.LastName}}</span>
            <br>
            <span>Logged On : {{userClaims.LoggedOn}}</span>
          </div>
        </div>
      </div>
    </div> -->


<!--     
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center">
            <i class="material-icons">cloud</i>Dotnet Mob App</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
              <a (click)="Logout()">Logout</a>
            </li>
          </ul>
        </div>
      </nav> -->

      
   
      <!-- <select>
      <option *ngFor="let hero of data"  >{{ hero.id }}</option> 
      <option value="monday" >monday</option>
      <option value="monday" >tuesday</option>
      </select> -->

      hello
      First name: <input type="text" name="FirstName" value="Mickey"><br>
    
      <select name="cars">
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="fiat">Fiat</option>
          <option value="audi">Audi</option>
        </select>
    
      
<!-- <div>
      <li *ngFor="let hero of data">
        {{ hero.id }} {{ hero.name }}
      </li>
    </div> -->
<!-- 
      <div class="row" *ngIf="userClaims">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-content">
             
              <br>
              <span>Email : {{userClaims.Email}}</span>
              <br>
            
              <br>
             
            </div>
          </div>
        </div>
      </div> -->


